<!DOCTYPE html>
<html>
<head>
    <title>Resume Analyzer</title>
    <link href="https://jsdelivr.net" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        body{
            margin: 0;
            background-color: lightsteelblue;

        }
        h2{
            color: purple;
            width: 100%;
            height: auto;
            text-align: center;
        }
        form{
            text-align: center;
        }
        textarea,button{
            background-color: lightcoral;
            color: purple;
        }
    </style>
</head>
<body>
    <h2>Upload Resume</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="resume" required><br><br>
        <textarea name="job_desc" placeholder="Enter Job Description"></textarea><br><br>
        <button type="submit">Analyze</button>
    </form>
</body>
</html>